.color-ico, .choice-ico {
  display: block;
  box-sizing: border-box;
  width: 39px;
  height: 39px;
  border: 2px solid #444444;
  position: relative;
  transition: 0.3s ease-in;
  flex-shrink: 0;

  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transition: 0.3s ease-in;
  }
}

.color-ico {
  &::after {
    width: 22px;
    height: 16px;
    background-image: url(../img/tick-mobile.svg);
    background-repeat: no-repeat;
    background-size: 22px 16px;
    background-position: 0 0;
  }
}

.choice-ico {
  border-radius: 50%;


  &::after {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $light-green;
  }
}

.choice-list, .color-list {
  @include reset;
  display: flex;
  flex-direction: column;
}

.fieldset-choice, .fieldset-color {
  .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .label {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
}

.fieldset-choice {

  margin-bottom: 31px;

  .title {
    margin-bottom: 26px;
  }

  .subtitle {
    margin-left: 24px;
    padding-top: 8px;
  }

  input {
    &:hover {
      & + .choice-ico {
        border-color: $light-green;
      }
    }

    &:active {
      & + .choice-ico {
        border-color: rgba($main-color, 0.3);

        &::after {
          opacity: 1;
        }
      }
    }

    &:checked {

      & + .choice-ico::after {
        opacity: 1;
      }

      &:hover {
        & + .choice-ico {
          border-color: $light-green;
        }
      }

      &:active {
        & + .choice-ico {
          border-color: rgba($main-color, 0.3);

          &::after {
            opacity: 0;
          }
        }
      }
    }
  }
}

.choice-item {
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset-color {

  margin-bottom: 31px;

  .title {
    margin-bottom: 25px;
  }

  .subtitle {
    margin-left: 24px;
    padding-top: 10px;
  }

  input {
    &:hover {
      & + .color-ico {
        border-color: $light-green;
      }
    }

    &:active {
      & + .color-ico {
        border-color: rgba($main-color, 0.3);

        &::after {
          opacity: 1;
        }
      }
    }

    &:checked {

      & + .color-ico::after {
        opacity: 1;
      }

      &:hover {
        & + .color-ico {
          border-color: $light-green;
        }
      }

      &:active {
        & + .color-ico {
          border-color: rgba($main-color, 0.3);

          &::after {
            opacity: 0;
          }
        }
      }
    }
  }
}

.color-item {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $tablet-min-width){

  .color-ico {
    width: 54px;
    height: 52px;
  }

  .color-ico {
    &::after {
      width: 33px;
      height: 22px;
      background-size: 33px 22px;
    }
  }

  .choice-ico {

    width: 51px;
    height: 51px;

    &::after {
      width: 22px;
      height: 22px;
    }
  }

  .choice-list, .color-list {

    flex-direction: column;
    width: 75%;
  }

  .color-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fieldset-choice, .fieldset-color {

    .container {
      flex-direction: row;
    }

    .label {
      align-items: center;
    }
  }

  .fieldset-choice {

    margin-bottom: 51px;

    .title {
      margin-bottom: 0;
      padding-top: 17px;
    }

    .subtitle {
      margin-left: 29px;
      padding-top: 0;
    }
  }

  .choice-item {
    margin-bottom: 24px;
  }

  .fieldset-color {

    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 26px;
    margin-bottom: 61px;

    .title {
      padding-top: 17px;
      margin-bottom: 0;
    }

    .subtitle {
      margin-left: 27px;
      padding-top: 0;
    }
  }

  .color-item {
    margin-bottom: 24px;
    width: 48%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: $desktop-width){

  .choice-list, .color-list {
    width: 83.3%;
  }

  .fieldset-choice {
    margin-bottom: 49px;

    .title {
      padding-top: 18px;
    }
  }

  .choice-item {
    margin-bottom: 27px;
  }

  .color-list {
    justify-content: flex-start;
  }

  .color-item {
    width: 27%;
    margin-right: 26px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
