$mobile-min-width: 320px;
$mobile-max-width: 568px;
$tablet-min-width: 768px;
$tablet-max-width: 1050px;
$desktop-width:1250px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-color: #444444;
$light-green: #63d1bb;
$medium-green: #56c3b2;
$dark-green: #46c1ae;

